{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": { "node": "6" },
        "shippedProposals": true,
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "babel-plugin-inline-import"
  ]
}
